<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "ZenCrowd", root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if current_user %>
          <% navigation_links_for(current_user).each do |item| %>
            <li class="nav-item">
              <%= link_to item[:path], class: "nav-link #{'active' if current_page?(item[:path])}" do %>
                <i class="bi #{item[:icon]}"></i> <%= item[:label] %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle btn btn-link text-decoration-none border-0 bg-transparent" type="button" id="userDropdownAlt" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> <%= current_user.name %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownAlt">
              <li>
                <%= link_to edit_meus_dados_path, class: "dropdown-item" do %>
                  <i class="bi bi-person-vcard"></i> Meus dados
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to logout_path, method: :delete, class: "dropdown-item" do %>
                  <i class="bi bi-box-arrow-right"></i> Sair
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path, class: "nav-link" do %>
              <i class="bi bi-box-arrow-in-right"></i> Entrar
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>