<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">ZenCrowd</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user&.admin? %>
          <li class="nav-item">
            <%= link_to 'Tiles', tiles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Upload de Imagem', new_imagem_path, class: 'nav-link' %>
          </li>
        <% elsif current_user&.annotator? %>
          <li class="nav-item">
            <%= link_to 'Tarefas Disponíveis', available_tiles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Tarefa Atual', my_task_path, class: 'nav-link' %>
          </li>
        <% elsif current_user&.reviewer? %>
          <li class="nav-item">
            <%= link_to 'Tarefas de Revisão', review_tasks_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if current_user %>
          <li class="nav-item">
            <span class="navbar-text me-2">
              <i class="bi bi-person-circle"></i> <%= current_user.name %> <%= current_user.role %>
            </span>
          </li>
          <li class="nav-item">
            <%= link_to 'Sair', logout_path, method: :delete, class: 'nav-link', id: 'logout-link', data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Entrar', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Cadastre-se', signup_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
