
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Tiles cadastrados</h1>
  <%= link_to 'Upload de Tiles', new_admin_tile_path, class: 'btn btn-success' %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Filename</th>
      <th>Status</th>
      <th>Task Value</th>
    </tr>
  </thead>
  <tbody>
    <% @tiles.each do |tile| %>
      <tr>
        <td><%= tile.id %></td>
        <td><%= tile.original_filename %></td>
        <td><%= tile.status %></td>
        <td><%= number_with_precision(tile.task_value, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
