
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Imagens cadastradas</h1>
  <%= link_to 'Upload de Imagens', new_admin_image_path, class: 'btn btn-success' %>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Filename</th>
      <th>Status</th>
      <th>Task Value</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.original_filename %></td>
        <td><%= image.status %></td>
        <td><%= number_with_precision(image.task_value, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
