<% content_for :title, "Gerenciar Tiles" %>

<h1>Tiles Cadastrados</h1>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<% if @tiles.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Arquivo</th>
        <th>Status</th>
        <th>Valor da Tarefa</th>
        <th>Uploader</th>
        <th>Reservada por</th>
        <th>Criada em</th>
      </tr>
    </thead>
    <tbody>
      <% @tiles.each do |tile| %>
        <tr>
          <td><%= tile.id %></td>
          <td><%= link_to tile.original_filename, tile_path(tile), class: 'text-decoration-none' %></td>
          <td><%= human_tile_status(tile.status) %></td>
          <td><%= number_with_precision(tile.task_value, precision: 2) %></td>
          <td><%= tile.uploader&.name %></td>
          <td><%= tile.reserver&.name %></td>
          <td><%= tile.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">Nenhum tile cadastrado.</div>
<% end %>
